{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body_class%}login-page sidebar-collapse{% endblock %}

{% block body %}
    <div class="page-header header-filter" style="background-image: url('/assets/material-kit/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="post" id="login-form" style="min-height: 325px">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Login</h4>
                                <div class="social-line">
{#                                    <a href="#pablo" class="btn btn-just-icon btn-link">#}
{#                                        <i class="fa fa-facebook-square"></i>#}
{#                                    </a>#}
{#                                    <a href="#pablo" class="btn btn-just-icon btn-link">#}
{#                                        <i class="fa fa-twitter"></i>#}
{#                                    </a>#}
{#                                    <a href="#pablo" class="btn btn-just-icon btn-link">#}
{#                                        <i class="fa fa-google-plus"></i>#}
{#                                    </a>#}
                                </div>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                                    </div>
                                    <input name="email" type="email" class="form-control" placeholder="Email..." value="{{ last_username }}" required>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                                    </div>
                                    <input name="password" type="password" class="form-control" placeholder="Password..." required>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="footer text-center">
                                <a href="#" class="form-submit btn btn-primary btn-link btn-wd btn-lg" data-form="#login-form">Get Started</a>
                                <a href="{{ path('app_register') }}" class="btn btn-primary btn-round">Registration</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}