{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body_class %}signup-page sidebar-collapse{% endblock %}

{# todo: texts for registration page #}
{% block body %}
    <div class="page-header header-filter" filter-color="purple" style="background-image: url('/assets/material-kit/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Register</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">qr_code_2</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Collects reviews with QR Code at any place</h4>
                                            <p class="description">
                                                {#                                                Diam diam varius suscipit nulla sem et. Nisl consequat, at ut eget viverra ornare eu interdum natoque. Sed viverra aliquet pulvinar vitae et odio vitae. Placerat tincidunt dui sit amet, nulla. Scelerisque quis mi nisi et.#}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">comment</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Gather all reviews in one place</h4>
                                            <p class="description">
                                                {#                                                Diam diam varius suscipit nulla sem et. Nisl consequat, at ut eget viverra ornare eu interdum natoque. Sed viverra aliquet pulvinar vitae et odio vitae#}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">quickreply</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Quickly react to customer reviews</h4>
                                            <p class="description">
                                                {#                                                Diam diam varius suscipit nulla sem et. Nisl consequat, at ut eget viverra ornare eu interdum natoque#}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mr-auto">
                                    <div class="social text-center">
                                        {#                                        <button class="btn btn-just-icon btn-round btn-twitter">#}
                                        {#                                            <i class="fa fa-twitter"></i>#}
                                        {#                                        </button>#}
{#                                        <button id="google_btn" class="btn btn-just-icon btn-round btn-google"#}
{#                                                data-url="{{ path('connect_google_start') }}">#}
{#                                            <i class="fa fa-google"></i>#}
{#                                        </button>#}
{#                                        <button id="facebook_btn" class="btn btn-just-icon btn-round btn-facebook"#}
{#                                                data-url="{{ path('connect_facebook_start') }}">#}
{#                                            <i class="fa fa-facebook"> </i>#}
{#                                        </button>#}
{#                                        <h4> {{ 'or be classical'|trans }} </h4>#}
{#                                    </div>#}
                                    {{ form_start(registrationForm, {'attr': {'id': 'registration-form'}}) }}
                                    {#                                        <div class="form-group bmd-form-group">#}
                                    {#                                            <div class="input-group">#}
                                    {#                                                <div class="input-group-prepend">#}
                                    {#                          <span class="input-group-text">#}
                                    {#                            <i class="material-icons">face</i>#}
                                    {#                          </span>#}
                                    {#                                                </div>#}
                                    {#                                                <input type="text" class="form-control" placeholder="First Name...">#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                                            </div>
                                            {{ form_widget(registrationForm.email) }}
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                                            </div>
                                            {{ form_widget(registrationForm.plainPassword) }}
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a id="register-submit" href="#" class="form-submit btn btn-primary btn-round" data-form="#registration-form">
                                            Get started
                                        </a>
                                    </div>
                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .btn.btn-facebook {
            color: #fff;
            background-color: #3b5998;
            border-color: #3b5998;
        }

        .btn.btn-facebook:hover {
            color: #fff;
            background-color: #37538d;
            border-color: #2a3f6c;
        }

        .btn.btn-google {
            color: #fff;
            background-color: #dd4b39;
            border-color: #dd4b39;
        }

        .btn.btn-google:hover {
            color: #fff;
            background-color: #df5746;
            border-color: #b93120;
        }

        #ofBar {
            background: #1A1E21;
            z-index: 999999999;
            font-size: 16px;
            color: #fff;
            padding: 16px;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            bottom: 20px;
            width: 80%;
            border-radius: 5px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
        }

        #ofBar-logo img {
            height: 50px;
        }

        #ofBar-content {
            display: inline;
            padding: 0 15px;
        }

        #ofBar-right {
            display: flex;
            align-items: center;
        }

        #ofBar b {
            font-size: 15px !important;
        }
        #count-down {
            display: initial;
            padding-left: 10px;
            font-weight: bold;
            font-size: 20px;
        }
        #close-bar {
            font-size: 17px;
            opacity: 0.5;
            cursor: pointer;
        }
        #close-bar:hover{
            opacity: 1;
        }
        #btn-bar {
            background-color: #fff;
            color: #40312d;
            border-radius: 4px;
            padding: 10px 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
            opacity: .95;
            margin-right: 20px;
            box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
        }
        #btn-bar:hover{
            opacity: 0.9;
        }
        #btn-bar{
            opacity: 1;
        }

        #btn-bar span, #ofBar-content span {
            color: red;
            font-weight: 700;
        }

        #oldPriceBar {
            text-decoration: line-through;
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            top: 2px;
            position: relative;
        }
        #newPrice{
            color: #fff;
            font-size: 19px;
            font-weight: 700;
            top: 2px;
            position: relative;
            margin-left: 7px;
        }

        #fromText {
            font-size: 15px;
            color: #fff;
            font-weight: 400;
            margin-right: 3px;
            top: 0px;
            position: relative;
        }

        @media(max-width: 991px){
            #count-down {
                display: block;
                margin-top: 15px;
                text-align: center;
                font-size: 19px;
            }
        }
        @media (max-width: 768px) {

            #ofBar {
                flex-direction: column;
                align-items: normal;
            }

            #ofBar-content {
                margin: 15px 0;
                text-align: center;
                font-size: 18px;
            }

            #ofBar-right {
                justify-content: flex-end;
            }
        }

        .info-horizontal {
            padding-top: 35px;
        }
    </style>
{% endblock %}