<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/material-kit-dashboard/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Back office
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="./dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p>Games</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./user.html">
                    <i class="material-icons">person</i>
                    <p>Users</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./tables.html">
                    <i class="material-icons">rule</i>
                    <p>Rules</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./typography.html">
                    <i class="material-icons">fact_check</i>
                    <p>Facts</p>
                </a>
            </li>
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="./icons.html">#}
{#                    <i class="material-icons">bubble_chart</i>#}
{#                    <p>Icons</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="./map.html">#}
{#                    <i class="material-icons">location_ons</i>#}
{#                    <p>Maps</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="./notifications.html">#}
{#                    <i class="material-icons">notifications</i>#}
{#                    <p>Notifications</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="./rtl.html">#}
{#                    <i class="material-icons">language</i>#}
{#                    <p>RTL Support</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item active-pro ">#}
{#                <a class="nav-link" href="./upgrade.html">#}
{#                    <i class="material-icons">unarchive</i>#}
{#                    <p>Upgrade to PRO</p>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </div>
</div>