<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/material-kit/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/material-kit/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/assets/material-kit/css/material-kit.css?v=2.0.7" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/material-kit/demo/demo.css" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
    {% block js_scripts_head %}{% endblock %}
</head>

<body class="{% block body_class %}landing-page sidebar-collapse{% endblock %}">
{% block navbar %}{{ include('navbar.html.twig') }}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{{ include('footer.html.twig') }}{% endblock %}
<!--   Core JS Files   -->
<script src="/assets/material-kit/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/assets/material-kit/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/material-kit/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/assets/material-kit/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/assets/material-kit/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/assets/material-kit/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/assets/material-kit/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
<script src="/assets/js/submit-form.js" type="text/javascript"></script>
{% block js_scripts %}{% endblock %}
</body>

</html>